@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-size-big: 24px;
    --font-size-normal: 16px;
    --font-size-small: 11px;
}

html {
    overflow-y: auto !important;
    font-family: 'Montserrat', sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

::-moz-selection {
    color: white;
    background: #9f84e8;
}

::selection {
    color: white;
    background: #9f84e8;
}

/* Width and height of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Background of the scrollbar track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

/* Scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
    background: rgba(47, 43, 56, 0.3);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(47, 43, 56, 0.5);
}