:root {
  --font-size-big: 24px;
  --font-size-normal: 16px;
  --font-size-small: 11px;
}

html {
  overflow-y: auto !important;
  font-family: 'Montserrat', sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  background-color: #101010 !important;
}

::-moz-selection {
  color: rgb(var(--v-theme-on-tertiary));
  background: rgb(var(--v-theme-tertiary));
}

::selection {
  color: rgb(var(--v-theme-on-tertiary));
  background: rgb(var(--v-theme-tertiary));
}

/* Width and height of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Background of the scrollbar track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

/* Scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
  background-color: rgba(var(--v-theme-primary), 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--v-theme-primary), 0.8);
}